<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}无限流量套餐{% endblock %}</title>
    <meta name='keywords' content='{% block keywords %}校园安心付,学校,手机,一卡通{% endblock %}'>
    <!-- viewport标签 -->
    <meta name = 'viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0'>
    <!-- 禁止将数字变为电话号码 -->
    <meta name= 'format-detection' content='telephone=no'>
    <link href="{{ url_for('static',filename='wechat/js/layer_mobile/need/layer.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static',filename='wechat/style/common.css')}}?time={{current_time}}" rel="stylesheet" type="text/css" />
    {% block style %}{% endblock %}
</head>
<body>
    <div id="header-fixed">
        <i class="arrow-icon arrow-left-header" onclick="window.history.go(-1);"></i>
        <p>{% block head_title %}{% endblock %}</p>
    </div>
    <div id="mian">
        {% block mian %}

        {% endblock %}
    </div>
    

    <script src="{{ url_for('static',filename='wechat/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='wechat/js/layer_mobile/layer.js')}}"></script>
    <script src="{{ url_for('static',filename='wechat//controller/common.js')}}"></script>
    {% block script %}{% endblock %}


</body>
</html>