{% extends "wechat/base.html" %}
{% block head_title %}校园安心付{% endblock %}
{% block mian %}
		<div class="pannel-card-radius font-line-height-0">
			<img src="{{ url_for('static',filename='wechat/assets/banner_advertisement@2x.png')}}" alt="" style="width: 100%;">
		</div>
		<div class="pannel-card-radius margin-top-10 padding-20" style="padding-top: 10px;">
			<div class="font-12">
				<p class="posotion-relative">
					<span class="color-light-black">办理方法</span>
					<i class="i-img i-img-width icon-question-yellow"><img src="{{ url_for('static',filename='wechat/assets/helpicon@2x.png')}}" alt=""></i>
				</p>
				<ul>
					<li>1.请点击下载“校园安心付”，下载登录。</li>
					<li>2.点击生活板块顶部“流量不限量”套餐广告，即可办理</li>
				</ul>
			</div>
		</div>
		<div class="margin-top-10">
			<button class="btn color-fff bg-middle-blue">
				<p onclick="location.href='http://xiaozhang.axinfu.com/';">立即办理</p>
			</button>
		</div>

{% endblock %}

{% block script %}
    <script>
{#        var version = '';#}
{##}
{#        function getAppInfo(info) {#}
{#            obj = JSON.parse(info);#}
{#            version = obj.verson;#}
{#        }#}
{##}
{#        function open_browser() {#}
{#            if(versionfunegt(version,'3.1.8')){#}
{#                axinfuApp.share('{{ url_for("api.share_page",str_uuid=pack_user.uuid,_external=True) }}');#}
{#            }else{#}
{#                 layer.open({#}
{#                    content: "请更新当前APP版本，才能使用该功能"#}
{#                    ,skin: 'msg'#}
{#                    ,time: 2 //2秒后自动关闭#}
{#                  });#}
{#            }#}
{#        }#}
    </script>
{% endblock %}