{% extends "wechat/base.html" %}
{% block head_title %}查询红包{% endblock %}
{% block mian %}
    <form action="">
        <div class="input-pannel">
            <label for="" class="label-width">
                <span class="color-light-red vertical-middle">*</span>
                <span class="color-light-black font-12 vertical-middle">套餐手机号</span>
            </label>
            <input type="text" class="vertical-middle" id="mobile">
        </div>
        <div class="margin-top-10 clearfix">
            <div class="input-pannel display-in-bl float-left" style="width: 70%;">
                <label for="">
                    <span class="color-light-red">*</span>
                </label>
                <input type="text" class="vertical-middle" placeholder="请输入收到的验证码" id="code">
            </div>

            <button type="button" class="btn-verifyCode color-light-red bg-fff float-right" style="width: 28%;">
                <p class="sendCode">发送验证码</p>
                <p class="countDown"><span>60</span>s</p>
            </button>

        </div>

    </form>
    <div class="margin-top-10">
        <button class="btn color-fff bg-middle-red" onclick="stepGoon()">
            <p>查询可领红包</p>
        </button>
    </div>

{% endblock %}

{% block script %}
	<script>
		function stepGoon(){
            $.post("{{ url_for('api.verity_code')}}",{mobile:$('#mobile').val(),code:$('#code').val()},function(data){
                if(data.result){
                     layer.open({
                        content: data.message
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                      });
                }else{
                  location.href = "{{ url_for('api.wechat_my_red_package')}}"
                }
			});

{#			location.href = "inquire-for-red-packets-one.html";#}
		}
		$('.btn-verifyCode').on('click',function(){
			var count = 60;
			// var $sendCode = btn-verifyCode
			var $sendCode = $(this).find('.sendCode');
			var $countDown = $(this).find('.countDown');
			var $countTime = $countDown.find('span');
			var _this = $(this);


			$.post("{{ url_for('api.send_message')}}",{mobile:$('#mobile').val()},function(data){
                if(data.result){
                     layer.open({
                        content: data.message
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                      });
                }else{
                    $countDown.css('display','block');
                    $sendCode.css('display','none');
                    _this.prop('disabled',true);
                    var timer = setInterval(function(){
                        if(count < 1){
                            clearInterval(timer);
                            $countDown.css('display','none');
                            $sendCode.css('display','block');
                            _this.prop('disabled',false);
                            $countTime.text(60);
                        }else{
                            count--;
                            $countTime.text(count);
                        }
                    },1000);
{#                    location.href = "{{ url_for('api.app_my_red_package')}}"+'?mobile='+param.mobile+'&real_name='+param.real_name#}
                }
			});


		})
	</script>
{% endblock %}
