{% extends "wechat/base.html" %}
{% block head_title %}查询红包{% endblock %}
{% block mian %}
    <form action="">
        <div class="input-pannel">
            <label for="" class="label-width">
                <span class="color-light-red vertical-middle">*</span>
                <span class="color-light-black font-12 vertical-middle" >套餐手机号</span>
            </label>

            <input type="text" class="vertical-middle" id="mobile">
        </div>
        <div class="input-pannel margin-top-10">
            <label for="" class="label-width">
                <span class="color-light-red vertical-middle">*</span>
                <span class="color-light-black font-12 vertical-middle" >真实姓名</span>
            </label>
            <input type="text" class="vertical-middle" id="real_name">
        </div>

    </form>
    <div class="margin-top-10">
        <button class="btn color-fff bg-middle-red" onclick="stepGoon()">
            <p>查询可领红包</p>
        </button>
    </div>
    <div class="margin-top-10">
        <i class="i-img i-img-width icon-question-yellow" style="vertical-align: middle;position: relative;"><img src="{{ url_for('static',filename='wechat/assets/helpicon@2x.png')}}" alt=""></i>
        <a href="https://mp.weixin.qq.com/s/or8Tbvys_ATuSC7z8r2EGw" style="vertical-align: middle;display: inline-block;font-size: 12px;text-decoration: none;color: #999;">红包领取攻略</a>
    </div>
{% endblock %}

{% block script %}
	<script>
		function stepGoon(){
		    param = {};
		    param.mobile = $('#mobile').val();
		    param.real_name = $('#real_name').val();

{#            param.mobile = '15208491440';#}
{#		    param.real_name = '高源';#}
            $.post("{{ url_for('api.verity_user_info')}}",param,function(data){
                if(data.result){
                     layer.open({
                        content: data.message
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                      });
                }else{
                    location.href = "{{ url_for('api.app_my_red_package')}}"+'?mobile='+param.mobile+'&real_name='+param.real_name
                }
			});

{#			location.href = "inquire-for-red-packets-one.html";#}
		}
	</script>
{% endblock %}
