{% extends "wechat/base.html" %}
{% block head_title %}请更新APP{% endblock %}
{% block mian %}

    <div class="pannel-card-radius text-center no-packets padding-20">
        <i class="i-img i-img-width" style="width: 32%;" onclick="aa()">
            <img src="{{ url_for('static',filename='wechat/assets/update@2x.png')}}" alt="">
        </i>
        {% if data.is_android %}
            <h4 id="platform_desc">请点击“我的”-“版本更新”，下载最新版本</h4>
        {% else %}
            <h4 id="platform_desc">请到APPstore（苹果应用商店）下载最新版本</h4>
        {% endif %}
    </div>


{% endblock %}


