{% extends "admin/base.html" %}
{% block title %}设备管理{% endblock %}
{% block body_class %}{% endblock %}
{% block container %}

<!-- Start content -->
  <div class="content"> 
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">设备管理</h4>
                <ol class="breadcrumb">
                    <li><a href="#">系统首页</a></li>
                    <li class="active">设备管理</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="search-box">
                                <div class="form-inline">
                                    <div class="form-group m-r-10">
                                        <label for="brand">品牌:</label>
                                        <input type="text" class="form-control" id="brand" name="brand" placeholder="品牌" value="{{ data.brand }}">
                                    </div>
                                    <div class="form-group m-r-10">
                                        <label for="mobile">型号:</label>
                                        <input type="text" class="form-control" id="brand" name="brand" placeholder="brand" value="{{ data.brand }}">
                                    </div>
                                    <div class="form-group m-r-10">
                                        <label for="cashier_no">收银员编号:</label>
                                        <input type="text" class="form-control" id="cashier_no" name="cashier_no" placeholder="cashier_no" value="{{ data.cashier_no }}">
                                    </div>
                                    <div class="form-group m-r-10">
                                        <label for="imei">imei:</label>
                                        <input type="text" class="form-control" id="imei" name="imei" placeholder="imei" value="{{ data.imei }}">
                                    </div>
                                    <div class="form-group m-r-10">
                                        <label for="meid">meid:</label>
                                        <input type="text" class="form-control" id="meid" name="meid" placeholder="imei" value="{{ data.meid }}">
                                    </div>
                                    <div class="form-group m-r-10">
                                        <label for="client_id">客户端id:</label>
                                        <input type="text" class="form-control" id="client_id" name="client_id" placeholder="客户端id" value="{{ data.client_id }}">
                                    </div>


                                </div>
                                <div class="form-inline" style="margin-top: 15px;">
                                    <div class="form-group m-r-10">
                                        <label for="online_status">在线状态：</label>
                                        <select class="form-control" id="online_status" name="online_status">
                                            <option value="ALL">全部</option>
                                                <option value="0" {% if '0' == data.online_status %}selected="selected"{% endif %}>OFFLINE</option>
                                                <option value="1" {% if '1' == data.online_status %}selected="selected"{% endif %}>ONLINE</option>
                                        </select>
                                    </div>

                                    <div class="form-group m-r-10">
                                        <label for="is_valid">绑定状态：</label>
                                        <select class="form-control" id="online_status" name="is_valid">
                                            <option value="ALL">全部</option>
                                                <option value="0" {% if '0' == data.is_valid %}selected="selected"{% endif %}>已解绑</option>
                                                <option value="1" {% if '1' == data.is_valid %}selected="selected"{% endif %}>已绑定</option>
                                        </select>
                                    </div>

                                    <button type="button" id="search" class="btn btn-primary waves-effect waves-light btn-md">
                                        搜索
                                    </button>
                                    <button type="button" id="reset" class="btn btn-success waves-effect waves-light btn-md">
                                        重置
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-actions-bar">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>品牌</th>
                                    <th>型号</th>
                                    <th>imei</th>
                                    <th>meid</th>
                                    <th>收银员编号</th>
                                    <th>客户端id</th>
                                    <th>在线状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for device in data.devices %}
                                <tr data-device-id="{{ device.id }}">
                                    <td>
                                        {{ device.id }}
                                    </td>
                                    <td>
                                        {{ device.brand }}
                                    </td>
                                    <td>
                                        {{ device.model }}
                                    </td>
                                    <td>
                                        {{ device.imei }}
                                    </td>
                                    <td>
                                        {{ device.meid }}
                                    </td>
                                    <td>
                                        {{ device.cashier_no }}
                                    </td>
                                    <td>
                                        {{ device.client_id }}
                                    </td>
                                    <td>
                                        {% if  device.online_status == 0 %}
                                            OFFLINE
                                        {% elif device.online_status == 1 %}
                                            ONLINE
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if  device.is_valid == 0 %}
                                            解绑成功
                                        {% else %}
                                            <button class="btn btn-success waves-effect waves-light unlock" data-id="{{ device.id }}"> <i class="ti-unlock"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% from "macros.html" import pagination_widget %}
                        {% if data.pagination %}
                            <div class="pagination">
                                {{ pagination_widget(data.pagination, 'admin.devices',data.fragment) }}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div> <!-- end col -->
        </div>
    </div>
   <!-- container -->
  </div>


{% endblock %}

{% block script %}
    <script>
        $(function () {
            layui.use(['layer','laydate'], function(){
                var layer = layui.layer;
                $('.unlock').click(function () {
                    device_id = $(this).data('id');
                    layer.confirm('您确定要解绑该设备吗？', {
                      btn: ['确定','取消'] //按钮
                    }, function(index){
                        $.ajax({
                            type: 'POST',
                            url: '{{ url_for("admin.device_unbing") }}',
                            beforeSend: function(){
                                layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                            },
                            complete: function(){
                                layer.closeAll('loading');
                            },
                            data: {device_id:device_id},
                            dataType: "json",
                                success: function(data){
                                    if(data.result == 0){
                                        layer.msg('解绑成功',{icon: 6,time: 1000});
                                        window.location.reload()
                                    }else {
                                        layer.msg(data.message,{icon: 5});
                                    }
                                }
                        });
                    });
                });

            });
        })
    </script>
{% endblock %}
